body {
    background-image: url(https://i.pinimg.com/originals/58/41/9e/58419ef8e082a314b5917b758794489a.jpg);
    /* Margen preterminado*/
    margin: 0;
    /* Margen para dentro*/
    padding: 0;
    /* Tamaño de texto*/
    font-size: 13px;
    /* Fuente de texto*/
    font-family:'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 55px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

nav .nav-right-section a{
    color:rgb(21, 21, 21);
    text-decoration: none;
    margin-right: 25px
}
nav .nav-right-section .menu{
    background-image: url( https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    /* Margen left - margen a la izquierda solamente */
    margin-left: 20px;
    /*Redondear*/
    border-radius: 100px;
    width: 35px;
}

/*************************************************/
/********************************************/
/***********************************/
/* Main */

main{
    text-align: center;
    margin-top: 160px;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-logo img{
    height: 140px;
}

/* Sección input*/
main .main-input{
    background-color: #FFFFFF;
    /* width - anchura y bordes redondeados*/
    border-radius: 28px;
    width: 500px;
    /* márgenes y centrados */
    margin: 0 auto;
    /* Separar input de botones*/
    margin-bottom: 40px;
}

/* Cajita gris redondeada buscador*/
main .main-input-container{
    /* ancho en línea, estilo y color*/ 
    border: 1px solid #000000 ;
    /* Bordes redondeados*/
    border-radius: 40px;
    width: 500px;
    box-shadow: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    height: 40px;
    width: 500px;
    /* Quitar borde negro*/
    border: none;
    /* Quitar borde azul al hacer click */
    outline: none;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*  */
    background-position: center;
    width: 15px;
    height: 15px;
    background-size: contain;
    padding-left: 4%;
    background-repeat: no-repeat;
}

.main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png
    );
    width: 15px;
    height: 15px;
    /* Ícon contenido en el espacio*/
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6%;
}

main .main-buttons{
    width: 525px;
    /* Vertical / horizontal */
    margin: 0 auto;
}

main .main-buttons div{
    /* Alinear elementos en la misma línea */
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #000000;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
} 
/* Nos permite agregarle diseño al poner cursor sobre elemento*/
main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}   
main .main-buttons button:hover{
    color: #202124;
    /* Ancho de línea - estilo de línea - color */
    border: 1px solid #dadce0;

}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f39792;
    border-top: 1px solid #9e0401;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left:0;
}

.footer-left {
    justify-self: left;
}
.footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #000000;
}